---
layout: layout.html
---

{% renderFile "./src/_includes/nav-bar.html" %}

<main>
  <section
    class="container mx-auto pt-40 pb-24 px-2 prose dark:prose-invert prose-h3:font-bold prose-h3:leading-tight prose-h4:text-neutral-600 prose-h4:dark:text-neutral-400 prose-h1:font-normal prose-h4:font-semibold prose-h5:font-bold prose-h5:text-sm"
  >
    {{ content }}
  </section>
  <footer
    class="w-full py-8 px-12 flex flex-row gap-4 justify-center items-center text-neutral-800 dark:text-neutral-300"
  >
    <p>
      This site was created by
      <span class="font-bold">Matt Kramers</span> with
    </p>
    <div class="flex flex-row flex-wrap justify-center gap-4 py-2">
      {% renderTemplate "webc" %}
      <img
        webc:is="eleventy-image"
        class="block dark:hidden"
        width="24"
        src="./src/images/html.webp"
        alt="HTML5"
        title="HTML5"
      />

      <img
        webc:is="eleventy-image"
        width="24"
        class="hidden dark:block"
        src="./src/images/html-dark.webp"
        alt="HTML5"
        title="HTML5"
      />
      <img
        webc:is="eleventy-image"
        width="24"
        src="./src/images/javascript.webp"
        alt="JavaScript"
        title="JavaScript"
      />
      <img
        webc:is="eleventy-image"
        width="24"
        src="./src/images/tailwind.webp"
        alt="Tailwind CSS"
        title="Tailwind CSS"
      />
      <img
        webc:is="eleventy-image"
        class="block dark:hidden"
        width="24"
        src="./src/images/11ty.webp"
        alt="11ty"
        title="11ty"
      />
      <img
        webc:is="eleventy-image"
        width="24"
        class="hidden dark:block"
        src="./src/images/11ty-dark.webp"
        alt="11ty"
        title="11ty"
      />
      <img
        webc:is="eleventy-image"
        width="24"
        src="./src/images/github-actions.webp"
        alt="GitHub Actions"
        title="GitHub Actions"
      />
      <img
        webc:is="eleventy-image"
        width="24"
        src="./src/images/cloudflare.webp"
        alt="Cloudflare Pages"
        title="Cloudflare Pages"
      />
      {% endrenderTemplate %}
    </div>
  </footer>
</main>
