<!doctype html>
<html lang="en" xmlns:webc="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <style>
      {% include "tailwind.css" %}
    </style>
    {% include "script.html" %}
    <title>Matt Kramers | Software Developer</title>
  </head>
  <body
    class="transition ease-in delay-75 bg-white dark:bg-neutral-800 text-neutral-800 dark:text-neutral-300 min-w-[250px]"
  >
    {% renderFile "./src/_includes/nav-bar.html" %} {% renderFile
    "./src/_includes/info-dialog.html" %}

    <main
      class="container mx-auto pt-40 pb-24 px-2 prose dark:prose-invert prose-h3:font-bold prose-h3:leading-tight prose-h4:text-neutral-600 prose-h4:dark:text-neutral-400 prose-h1:font-normal prose-h4:font-semibold prose-h5:font-bold prose-h5:text-sm"
    >
      {{content}}
    </main>
  </body>
</html>
