<!doctype html>
<html lang="en" xmlns:webc="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <style>
      {% include "tailwind.css" %}
    </style>
    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      function toggleDark() {
        const isDark = document.documentElement.classList.contains("dark");
        if (!isDark) {
          document.documentElement.classList.add("dark");
          localStorage.theme = "dark";
        } else {
          document.documentElement.classList.remove("dark");
          localStorage.theme = "light";
        }
      }

      function isScreenLg() {
        // todo: this is hard coded to the lg breakpoint
        const LG_BREAKPOINT = 1024;
        return window.innerWidth >= LG_BREAKPOINT;
      }

      let isNavBarExpanded = false;
      let prevIsScreenLg = isScreenLg();

      function onWindowResize() {
        const isLg = isScreenLg();
        if (isLg === prevIsScreenLg) {
          return;
        }

        if (isLg && !isNavBarExpanded) {
          expandNavBar();
        } else if (!isLg && isNavBarExpanded) {
          collapseNavBar();
        }
        prevIsScreenLg = isLg;
      }

      function onLoad() {
        const isLg = isScreenLg();
        if (!isLg) {
          collapseNavBar();
        }
      }

      function expandNavBar() {
        const container = document.querySelector("#navbar_items");
        const items = container.querySelectorAll("a");
        items.forEach((item) => item.classList.remove("hidden"));
        isNavBarExpanded = true;
      }

      function collapseNavBar() {
        const container = document.querySelector("#navbar_items");
        const items = container.querySelectorAll("a");
        items.forEach((item) => item.classList.add("hidden"));
        isNavBarExpanded = false;
      }

      function toggleNavBarExpanded() {
        if (!isNavBarExpanded) {
          expandNavBar();
        } else {
          collapseNavBar();
        }
      }

      window.onresize = onWindowResize;
      window.onload = onLoad;
    </script>
    <title>Matt Kramers | Software Developer</title>
  </head>
  <body
    class="transition ease-in delay-75 bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-300 min-w-[250px]"
  >
    {% renderFile "./src/_includes/nav-bar.html" %} {% renderFile
    "./src/_includes/info-dialog.html" %}

    <main
      class="container mx-auto pt-40 pb-24 px-2 prose dark:prose-invert prose-h3:font-bold prose-h3:leading-tight prose-h4:text-gray-600 prose-h4:dark:text-gray-400 prose-h1:font-normal prose-h4:font-semibold prose-h5:font-bold prose-h5:text-sm"
    >
      {{content}}
    </main>
  </body>
</html>
