<script>
  if (
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }

  function toggleDark() {
    const isDark = document.documentElement.classList.contains("dark");
    if (!isDark) {
      document.documentElement.classList.add("dark");
      localStorage.theme = "dark";
    } else {
      document.documentElement.classList.remove("dark");
      localStorage.theme = "light";
    }
  }

  function isScreenLg() {
    // todo: this is hard coded to the lg breakpoint
    const LG_BREAKPOINT = 1024;
    return window.innerWidth >= LG_BREAKPOINT;
  }

  let isNavBarExpanded = false;
  let prevIsScreenLg = isScreenLg();

  function onWindowResize() {
    const isLg = isScreenLg();
    if (isLg === prevIsScreenLg) {
      return;
    }

    if (isLg && !isNavBarExpanded) {
      expandNavBar();
    } else if (!isLg && isNavBarExpanded) {
      collapseNavBar();
    }
    prevIsScreenLg = isLg;
  }

  function onLoad() {
    const isLg = isScreenLg();
    if (!isLg) {
      collapseNavBar();
    }

    const container = document.querySelector("#navbar_items");

    document.addEventListener("click", (event) => {
      const isLg = isScreenLg();
      if (!isNavBarExpanded || isLg) {
        return;
      }

      const withinBoundaries = event.composedPath().includes(container);
      if (withinBoundaries) {
        return;
      }

      collapseNavBar();
    });

    const infoDialog = document.getElementById("infoDialog");
    infoDialog.addEventListener("click", () => infoDialog.close());

    const infoDialogArea = document.getElementById("infoDialogArea");
    infoDialogArea.addEventListener("click", (event) =>
      event.stopPropagation(),
    );
  }

  function expandNavBar() {
    const container = document.querySelector("#navbar_items");
    container.classList.remove("hidden");
    isNavBarExpanded = true;
  }

  function collapseNavBar() {
    const container = document.querySelector("#navbar_items");
    container.classList.add("hidden");
    isNavBarExpanded = false;
  }

  function toggleNavBarExpanded(e) {
    e.stopPropagation();

    if (!isNavBarExpanded) {
      expandNavBar();
    } else {
      collapseNavBar();
    }
  }

  window.onresize = onWindowResize;
  window.onload = onLoad;
</script>
